*.pem filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt
docker/config.json filter=git-crypt diff=git-crypt
aws/* filter=git-crypt diff=git-crypt
config/hub filter=git-crypt diff=git-crypt
github-tokens/* filter=git-crypt diff=git-crypt
gnupg/*.gpg filter=git-crypt diff=git-crypt
s3cfg* filter=git-crypt diff=git-crypt
docker/config.json filter=git-crypt diff=git-crypt
npmrc filter=git-crypt diff=git-crypt
mylogin.cnf filter=git-crypt diff=git-crypt
m2/*.xml* filter=git-crypt diff=git-crypt
docker/.token_seed* filter=git-crypt diff=git-crypt
.gitignore !filter !diff
